#divs {
    height:1350px;
    width: 1000px;
    /*border:1px solid red;*/

    margin:0px auto;
}
#divs>.div1 {
    height: 118px;
    width: 800px;
    border: 1px solid #ffffff;
    border-bottom: 1px solid #e2e2e2;
}
#divs>.div1>i {
    display: block;
    height: 58px;
    width: 43px;
    float: left;
    margin-top: 39px;
    background: url("../images/iconlist_4.png") no-repeat -175px -385px;
}
#divs>.div1>b {
    display: block;
    height: 30px;
    width: 150px;
    padding-top: 50px;
    margin-left: 10px;
    float: left;
    font-size: 20px;
    color: red;
}
/*******************************图形列表**************************************/
#divs>#div2 {
    height: 370px;
    width: 1000px;
    /*border: 1px solid black;*/

}
#div2>p {
    height: 45px;
    width: 1000px;
    /*border:1px solid red;*/
    padding-left:74px ;
    padding-top: 35px;
    color: #a2a0a0;
    font-size: 17px;
}
#divs>#div2>ul {
    height: 250px;
    width: 1000px;
    padding-left: 5px;
    /*padding-top: 30px;*/
}
#divs>#div2>ul>li {
    height: 77px;
    width: 174px;
    float: left;
    border:1px solid #e2e2e2;
    margin-left: 18px;
    margin-top: 40px;
}
#divs>#div2>ul>li>b {
    height: 77px;
    width: 173px;
    float: left;
    background: url("../images/iconlist_4.png") no-repeat ;
    /*background: url("../images/iconlist_4.png") no-repeat -345px -40px;*/

}
#divs>#div2>ul>.icon_1>b {
    /*background: url("../images/iconlist_4.png") o-repeat 0 0;*/
    background-position:0px 0px;
}
#divs>#div2>ul>.icon_2>b {
    background-position:-172px 0px;
}
#divs>#div2>ul>.icon_3>b {
    background-position:0px -77px;
}
#divs>#div2>ul>.icon_4>b {
    background-position:-172px -77px;
}
#divs>#div2>ul>.icon_5>b {
    background-position:0px -153px;
}
#divs>#div2>ul>.icon_6>b {
    background-position:-172px -153px;
}
#divs>#div2>ul>.icon_7>b {
    background-position:0px -232px;
}
#divs>#div2>ul>.icon_8>b {
    background-position:0px -308px;
}
#divs>#div2>ul>.icon_9>b {
    background-position:-172px -308px;
}
#divs>#div2>ul>.icon_10>b {
    background-position:-172px -232px;
}
/****************************表格部分****************************************************/
table {
    height: 265px;
    width: 1000px;
    border:1px solid #a8a8a8;
    font-size: 15px;
    border-collapse: collapse;
    color: #626262;
}
table tr {
    border:1px solid #a8a8a8;
}
table tr td{
    height: 55px;
    width: 500px;
    padding-left: 20px;
    border: 0px;
}
#divs table tr:nth-child(1){
    background-color: #a8a8a8;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
}
#divs h1 {
    margin-top: 45px;
    margin-bottom: 20px;
}
#divs>p {
    color: #626262;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 360px;
}